<!DOCTYPE html>
<html>
<head>
    <title>Logout - Flask Login e Cadastro</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="container">
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                <ul class="messages">
                    {% for category, message in messages %}
                        <li class="flash-message flash-{{ category }}">{{ message }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
        {% endwith %}

        <h1>Logout</h1>
        <p>Você foi desconectado com sucesso.</p>
        <p><a href="{{ url_for('home') }}">Voltar para a página inicial</a></p>
    </div>
</body>
</html>
